*{
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(215, 157, 157) ;

}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
    background-color: antiquewhite;

}
.header h1{
    background-color: antiquewhite;
    
}
a{
   color: rgb(62, 36, 36);
}
.batula{
   color: white;
}

.header ul{
    display: flex;
    gap: 120px;
    font-size: 1.6em;
    padding-top: 10px;
    font-weight: 200;
     list-style: none;
}
.header ul li{
    background-color: antiquewhite;
}
 #btnlongin{
    padding: 5px 30px ;
    background-color: #2d0ce9;
    color: white;
    border-radius: 8px ;
    border: none;
    font-size: 1.3em;
 }
 .hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/ser/fadhi.jpg);
    width: 100%;
   height: 60vh; 
   text-align: center;
   padding-top: 300px;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   font-size: 2em;
 }
 .hero h1{
    padding-right: 300px;
    font-size: 4em;
    padding-top: 10px;
    text-shadow: 3px solid pink;
    color: rgb(237, 213, 243);
 }
 /* secrvice */
 .services{
    background-color: pink;
    border-radius: 7%;
    margin-bottom: 40px;
 }
 .section-pic{
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: space-around;
    margin-top: 30px;
 }
 .pic-box img{
    width: 400px;
    padding-right: 30px;
 }
 .pic-box{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right:100px;
 }
 .pic-box button{
    padding: 5px 50px;
    margin: 3px 100px;
    background-color: white;
    color: rgb(54, 54, 54);
    border: none;
    border-radius: 7%;
 }
 .section-righting{
    display: grid;
    grid-template-columns: 500px 400px 400px;
    justify-content: space-around;
    margin-bottom: 30px;
    padding-top: 30px;
 }
 .we-ofer{
    margin-bottom: 40px;
    padding-left: 30px;
 }
 .we-ofer h1{
    font-size: 3em;
    color: blue;
 }
 .section-righting p{
    padding-top: 40px;
 }
 footer{
   background-color: rgb(6, 6, 112);
   margin-top: 30px;
   padding-top: 30px;
}
.part-one{
   display: grid;
   justify-content: space-between;
   grid-template-columns: 200px 200px 300px;
}
.part-one h1{
   padding-left: 30px;
   color: rgb(207, 207, 247);
   font-size: 3em;


}
.part-one ul{
   display: flex;
   gap: 20px;
   padding-top: 30px;
   font-size: 1.2em;
   color: white;
   padding: 20px 30px;
}
.part-one ul li {
   list-style: none;
}
.part-one input{
   margin-right: 70px;
   margin-top: 20px;
}
.f-part-teo{
   display: grid;
   justify-content: space-between;
   grid-template-columns: 100px 100px 100px  100px 300px;
   padding-top: 30px;
   padding-left: 40px;
   color: white;
}
.f-part-teo ul{
   list-style: none;
   color: rgb(128, 128, 127);
}
.f-part-teo p{
      color: rgb(128, 128, 127);

}
.input-adres input {
   /* padding-right: 40px; */
   /* padding-left: -30px; */
   padding-bottom: 30px;
   margin-right: 60px;
   padding-right: 40px;
margin-bottom: 40px;  
padding-bottom: 30px; 
}
.input-adres button{
   margin-left: 40px;
   font-size: 1em;
   padding: 5px 30px;
   background-color: pink;
}
.icons-footer{
   display: grid;
   grid-template-columns: 10px 10px 10px 10px 10px 10px;
   justify-content: space-between;
   padding-top: 30px;
   padding-left: 20px;
}
.icons-footer img{
   width: 100px;
}
/* footer */
.footer{
    width: 100%;
    height: 250px;
    background-color:burlywood ;
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}
.footer h1{
    padding-top: 40px;
}
.icons i{
    padding-top: 20px;
    font-size: 1.4em;
}
.links ul li{
    list-style: none;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.5em;
}
.contact p{
    margin-top: 10px;
    font-size: 1.3em;
}
.room{
   width: 200px;
   height: 80vh;
}